body{

}

.editProfile {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
}
